Repository cloud-native-toolkit/terraform-tools-tekton-resources, pull requests merged in 2020-10, with the labels that each got.

#9 Adds workflows to create PR and automerge PR
  .github/scripts/update-modules.sh
  .github/workflows/automerge.yaml
  .github/workflows/create-pr.yaml
  variables.tf
Labels: automerge, chore, patch

#13 bump tekton release to 2.1.4
  variables.tf
Labels: automerge, enhancement, patch

#14 Updates tekton task version to v2.1.12
  variables.tf
Labels: automerge, feature, minor

#17 Changes by create-pull-request action
  variables.tf
Labels: automerge, chore, patch

#18 remove the unused tekton namespace
  README.md
  test/stages/stage2-tekton.tf
  variables.tf
Labels: automerge, enhancement, patch

#19 Changes by create-pull-request action
  variables.tf
Labels: automerge, chore, patch

#20 Changes by create-pull-request action
  variables.tf
Labels: automerge, chore, patch

#21 Changes by create-pull-request action
  variables.tf
Labels: automerge, chore, patch

#22 Changes by create-pull-request action
  variables.tf
Labels: automerge, chore, patch

#23 Changes by create-pull-request action
  variables.tf
Labels: automerge, chore, patch
