Repository cloud-native-toolkit/terraform-tools-tekton-resources, pull requests merged in 2021-04, with the labels that each got.

#42 Adds ocp-vpc dependency
  .github/workflows/verify.yaml
  main.tf
  module.yaml
  providers.tf
  test/stages/stage1-cluster.tf
  test/stages/stage1-namespaces.tf
  test/stages/stage1b-capture-state.tf
  test/stages/stage2-tekton.tf
  versions.tf
Labels: chore, patch

#43 Removes deprecated variable reference
  main.tf
  test/stages/stage1-cluster.tf
Labels: bug, chore

#41 Updates IBM/ibm-garage-tekton-tasks to v2.6.2
  variables.tf
Labels: chore, patch

#45 Updates IBM/ibm-garage-tekton-tasks to v2.6.10
  variables.tf
Labels: automerge, chore, patch
